<!DOCTYPE html>
<html>
<head>
	<title>bwac</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="assets\styles3.css">
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<script src="//cdn.jsdelivr.net/npm/faunadb@latest/dist/faunadb.js"></script>
</head>
<body>
	<div class="main">
		<form id="form" class="f">
			<input name="token" class="tin">
			<button type="submit" class="sb"><span class="material-icons h ">done</span></button>
		</form>
		
	</div>
	<script type="text/javascript" src="/js/user.js"></script>
</body>

</html>