<!DOCTYPE html>
<html>
<head>
	<title>bwac</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="assets\styles2.css">
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
	<div class="main">
		<div class="embed-container">
	    	<iframe 
	    	    id="frame" 
			    src="https://www.youtube.com/embed/bfKXbO0El74"
			    frameborder="0"
			    allowfullscreen="false">
	    	</iframe>
		</div>
		<div class="right">
			<div class="feed">
				<div class="txt"><h3 >FEEDBACK</h3></div>
				<div class="b">
				<button class="b1"><span class="material-icons h">done</span></button>
				<button class="b2"><span class="material-icons h ">highlight_off</span></button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>